*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #90E0EF;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

form{
    background: #fff;
    width: 80%;
    max-width: 600px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #000;
    font-size: larger;
}

h3{
    text-align: center;
    margin-bottom: 20px;
    color: red;
    font-size: xx-large;
    font-weight: 900;
}

label{
    font-weight: bold;
    display: inline;
    /* margin-bottom: 15px; */
    margin-top: 10px; 
}

input[type="text"],select{
    width:100%;
    padding:5px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
}

input[type="date"],select{
    width:100%;
    padding:5px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
}

input[type="submit"]{
    width: 100%;
    background-color: rgb(144,0,0);
    color:#fff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: red;
}

.star label{
    font-size: 25px;
    padding: 15px;
}
.star input:checked~label{
    color:gold;

}

a{
    display:block;
    text-align: center;
    margin-top: 20px;
    color:blue;

}
@media(max-width:480px){
    form{
        padding:15px;
    }
    h3{
        font-size: 15px;
    }
}