header {
    background-color: #0077B6;
    color: #fff;
    /* padding: 45px 40px; */
    padding:50px 50px;
    display: flex;
    position: relative;
    align-items: center;
}

h1 {
    margin-left: 300px;
    margin-bottom: 0px;
}

@media(max-width:768px) {
    .header {
        /* flex-direction: column; */
        justify-content: left;
        text-align: left;
    }

    .header h1 {
        font-size: 22px;
        margin-left: 80px;
    }

    .logo {
        width: 30px;
        margin-bottom: 10px;
    }
}

/* NAVBAR */
.top-nav ul {
    list-style: none;
    display: flex;
    background-color: #03045E;
    font-size: 20px;
    padding: 20px;
    margin: 0;
}

.top-nav ul li {
    margin-left: 20px;
}

.top-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.top-nav ul li a:hover {
    text-decoration: underline;
    color: rgb(157, 7, 27);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #f2f7ff; */
    margin: 0;
    padding: 0;
    background-color: #90E0EF;
}

/* MAIN */
.container {
    /* height: 700px; */
    display: flex;
    flex-direction: row;
    /* margin-top: 50px; */
}

h2{
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    color:rgb(144, 0, 0);
    margin-top: 10px;
    text-decoration: underline;
}

.main-content {
    font-size: larger;
    font-weight: 500;
    color: #03045E;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.card {
    width: 300px;
    color: #03045E;
    font-size: larger;
    margin-left: 0px;
}

div p{
    text-align: center;
    justify-content: center;
}

/* FOOTER */
.footer {
    background-color: #0a3d62;
    color: #fff;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

footer {
    background-color: #0a3d62;
    color: #fff;
    /* font-size: larger; */
    padding: 40px 20px 20px;
}

.footer h4 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.footer i {
    margin-right: 10px;
    color: rgb(157, 7, 27);
}

@media(max-width: 700px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
}

.hms {
    text-align: center;
}