body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    border-collapse: collapse;
    width: 80%;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #007BFF;
    color: white;
}
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.btn1{
    background-color: red;
    color:#fff;
}